<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
	<li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
	<li class="list-group-item"><strong>Phone: </strong>{{user.phone}}</li>
</ul>
<a class="btn btn-default" href="/">Back</a>
